
@using SSHomeProject.Helpers;
@using SSHomeCommon.Helpers;
@using SSHomeCommon.Constants;
@using SSHomeProject.Models;

@model CustomerTypeListViewModel

<div class="form-group">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            @if (Model.customerTypeList.Count > 0)
            {
                <div class="seller-box-wrap">
                    <div class="seller-frm-wrap">
                        <div class="rfq-tbl-wrap">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="rfq-tbl">
                                <tbody>
                                    <tr class="tbl-head">
                                        <td class="text-center">Id</td>
                                        <td class="text-center">Unit</td>
                                        <td class="text-center">Edit</td>
                                    </tr>

                                    @foreach (var customertypeDetails in Model.customerTypeList)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                @customertypeDetails.CustomerTypeId
                                            </td>
                                            <td class="text-center">
                                                @customertypeDetails.CustomerType
                                            </td>
                                            <td>
                                                <a class="white-btn grey-btn" href="@Url.Action(CommonConstant.ActionCustomerTypeEdit ,new { @customerTypeId = customertypeDetails.CustomerTypeId })">Edit</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div>
                    <p>
                        <div class="alert alert-info text-center" role="alert"> No Customer Types....  </div>
                    </p>
                </div>
            }
        </div>
    </div>

</div>

